<?xml version="1.0"?>
<config>
  <modules>
    <Zeo_OrderCustomBlock>
      <version>1.0.0</version>
    </Zeo_OrderCustomBlock>
  </modules>
  <global>
    <helpers>
      <ordercustomblock>
        <class>Zeo_OrderCustomBlock_Helper</class>
      </ordercustomblock>
    </helpers>
	<blocks>
	  <ordercustomblock>
		<class>Zeo_OrderCustomBlock_Block</class>
	  </ordercustomblock>
	</blocks>
	 <models>
      <ordercustomblock>
        <class>Zeo_OrderCustomBlock_Model</class>
      </ordercustomblock>
    </models>
  </global>
  <admin>
	<routers>
	  <ordercustomblock>
	    <use>admin</use>
		<args>
		  <module>Zeo_OrderCustomBlock</module>
		</args>
	  </ordercustomblock>
	</routers>
  </admin>
  <adminhtml>
   <events>
      <core_block_abstract_to_html_after>
        <observers>
          <zeo_ocb_core_block_abstract_to_html_after>
            <class>Zeo_OrderCustomBlock_Model_Adminhtml_Observer</class>
            <method>addOrderCustomBlock</method>
          </zeo_ocb_core_block_abstract_to_html_after>
        </observers>
      </core_block_abstract_to_html_after>
    </events>
	<layout>
	  <updates>
		<ordercustomblock>
		  <file>zeo/ordercustomblock.xml</file>
		</ordercustomblock>
	  </updates>
	</layout>
  </adminhtml>
</config> 